// Mixins in here

// Animations
.scaleup-color(@scale-factor, @color) {
    &:hover {
        transform: scale(@scale-factor);
        color: @color;
        transition: 0.3s ease;
    }
} 

// Buttons
.btn(@bg-color, @text-color) {
    background: @bg-color;
    color: @text-color;
    border-radius: 5%;
    width: 100%;
    .scaleup-color(1.1, @bg-color);
}